.my-bg-first {
  background-color: #2C3E50; /*blue color nav*/
  border-color: 0;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-collapse {
  border: 0;
}

.navbar-default {
  border-color: #2C3E50;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1ABC9C; /*lightgreen for hoover*/
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover { /*quando passi il mouse sulla parola*/
  color: #1ABC9C; /*lightgreen for hoover*/
  background-color: transparent;
}

@media all and (min-width: 992px) {
  .my-bg-first {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-default .navbar-brand {
    font-size: 1.75em;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
  }

  #jumbotron h1 {
    font-size: 7rem;
  }
}

@media all and (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

#jumbotron {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #1ABC9C; /*lightgreen*/
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#jumbotron img {
  width: 250px;
  margin-bottom: 2rem;
}
